html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: rgba(0,0,0, .04);
}

button {
  cursor: pointer;
}

form {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form > label {
  font-size: 1.5em;
  margin: 10px;
}

form > input {
  min-width: 25vw;
  height: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-right: 10px;
  padding: 15px;
  font-size: 1em;
}

form > button {
  height: 40px;
  border: none;
  background: #1e88e5;
  color: #fff;
  font-size: 1em;
  min-width: 5vw;
  border-radius: 5px;
  cursor: pointer;
  transition: background .5s;
}

form > button:hover {
  opacity: .87;
}

h2 {
  font-weight: 100;
  margin: 5px 0;
}

.kanban {
  display: flex;
  justify-content: space-around;
}

section.container {
  width: 30vw;
  background: #eee;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0,0,0, .15);
}

section.container ul {
  display: flex;
  list-style: none;
  padding: 15px;
  border-radius: 5px;
  height: auto;
  flex-direction: column;
  flex-flow: wrap;
  box-shadow: 0px 2px 4px rgba(0,0,0, .15);
}

section.container ul > li {
  padding: 10px;
  background: #eee;
  box-shadow: 0px 2px 4px rgba(0,0,0, .15);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

section.container ul > li:not(:last-child) {
  margin-bottom: 10px;
}

#todo {
  background: #1e88e5;
}

#onprogress {
  background: #ff8f00;
}

#done {
  background: #43a047;
}

.btn-delete {
  border-radius: 5px;
  border: none;
  background: transparent;
  transition: background .5s, color .5s;
  color: #bbb;
} 

.btn-delete:hover {
  background: #d84315;
  color: #fff;
}
